*{
    transform: 2s ease;
    transition: 2s  ease;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #a6a6a6; 
  background-image: url("../img/bg2.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body *{
display: none;
}
.body{
    background: transparent;
    border-radius: 20px;
    border: 2px solid #a6a6a6;
    border-left: none;
    border-top: none;
    margin: 20px auto;
    transform: 2s ease;
    transition: 2s  ease;
}
.body .line{
    background: transparent;
    border: none;
    width: 50%;
    margin-left: 50.5%;
    position: relative;
    top: -2px;
    border-top-right-radius: 50%;
    height: 5px;
    border-top: 2px solid #a6a6a6;
}
.hero-img{
    height: 75vh;
    margin: auto; 
    display: flex;
    justify-self: center;
    /* animation: grow 4s ease-in-out; */
}
/* @keyframes grow {
    0%   {transform: rotateY(0deg);}
    50%   {transform: rotateY(180deg);}
    100% {transform: rotateY(360deg);}
} */
.loader{
    /* background: #000000; */
    background-image: url("../img/drk.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0px;
    position: fixed;
    z-index: 1000000;
    overflow: hidden;
}
.loader .earth{
    position: fixed;
    z-index: -300;
    margin: auto;
    top: 85vh;
    justify-self: center;
    width: 50vw;
}
.loader .img{
    margin-top: -50vh;
    animation: flyup 5s ease-in-out;
}
@keyframes flyup {
    0%   {width: 5px; height: 8px; margin-top: 90vh; display: block;}
    80%   {width: 200px; height: 250px; margin-top: 50vh;}
    90%   {width: 250px; height: 300px; margin-top: 50vh;}
    100%   {width: 300px; height: 350px; margin-top: -50vh; display: none;}
}
.rocket{
    height: 80px;
    width: 90px;
    position: absolute;
    z-index: -100;
    top: -10vh;
    animation: rocket 6s ease-in-out;
}
@keyframes rocket {
    0%   {top: 85vh; left: 10vw;}
    10%  {top: 85vh; left: 10vw;}
    15%   {top: 80vh; left: 10vw;}
    20%   {top: 85vh; left: 10vw;}
    40%   {top: 60vh; left: 60vw;}
    45%   {top: 65vh; left: 60vw;}
    50%   {top: 60vh; left: 60vw;}
    60%  {top: 50vh; left: 60vw;}
    100% {top: 30vh; left: 95vw;}
}
.flip-screen{
    border: 40px solid rgba(255, 255, 255, 0.3);
    /* background: rgba(255, 255, 255, 0.3); */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.flip-screen h1{
    text-shadow: 3px 3px 4px #000000;
    color: #ffffff;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
}
.speech-bubble {
  background: #efefef;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.3;
  margin: auto;
  max-width: max-content;
  padding: 15px;
  position: relative;
}
.speech-bubble.to{
    box-shadow: 3px 3px 4px #8a8a8a;
}
.speech-bubble p {
    margin: 0 0 20px;
}
.speech-bubble p:last-of-type {
    margin-bottom: 0;
    
}

.speech-bubble.to::after {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #efefef;
    bottom: -20px;
    content: "";
    position: absolute;
    right: 10px;
}
.bubble{
    position: absolute;
    z-index: 100;
    display: none;
    transform: 2s ease;
    transition: 2s  ease;
    animation: bounce 2.5s ease-in-out infinite;
    /* animation: bounce 2.5s ease-in-out infinite reverse; */
}
@keyframes bounce {
    0%   {margin-bottom: 2px;}
    100% {margin-top: 0px;}
}
@keyframes fade {
    0%   {opacity: 0.9;}
    50% {opacity: 0.5;}
    100% {opacity: 0; display: none;}
}

.down{
    right: 8vw;
    position: absolute;
    transform: 2s ease;
    transition: 2s  ease;
    display: none;
    animation: rotdown 2s ease infinite alternate-reverse;
}
@keyframes rotdown {
    0%   {width: 60px; height: 60px;}
    100% {width: 65px; height: 65px;}
}
.img-btn{
    width: 200px;
    margin: auto;
}
.img-btn:hover{
    width: 250px;
}












@media screen and (max-width: 767px) {
    .down{
        display: block;
    }
}